body{
	margin: 0;
	padding 0;
}

#start {
	background: url("bildBak.jpg") no-repeat center center fixed;
 background-size: cover;

	width: 100% ;
  height: 100%;
	margin: 0;


}

#sida2 {
	height: 100%;
	width: 100%;
	background: #795548;
	margin: 0;
}

#sida3 {
	height: 100%;
	width: 100%;
	background: #92979b;
	margin: 0;
}

#links {
position: fixed;
width: 100%;
top: 0;
}

h2 {
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	text-align: center;
}

h1 {
	background: black;
	font-family: 'Roboto', sans-serif;
	width: 750px;
	height: 100px;
	color: white;
	margin: 22% auto;
	font-size: 80px;
	text-align: center;
	border: 2px solid white;
}

@media only screen and (max-width : 800px){

h1{
	width: 300px;
	font-size: 40px;
	margin: 300px auto;
}

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
	text-align: center;

}

li {
    float: left;
}

footer{
	background: #4CAF50;
	height: 100px;
	margin-top: -16px;
}

.footer {
	text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
	animation: color-animation 0.5s linear;
	background-color: #4CAF50;
}
@keyframes color-animation {
    0% {
       background: #111;
    }
    100% {
       background: #4CAF50;
    }
 }
