body{
	margin: 0;
	padding: 0;
}

#start {
    background: url("bildBak.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100% ;
    height: 100%;
	margin: 0;
}

#links {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

h2 {
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	text-align: center;
}

h1 {
	background: black;
	font-family: 'Roboto', sans-serif;
	width: 750px;
	height: 100px;
	color: white;
	margin: 16% auto;
	font-size: 80px;
	text-align: center;
	border: 2px solid white;
}

footer{
	text-align: center;
	color: white;
	font-size: 14px;
}

.footer{
	text-decoration: none;
	color: white;
	font-size: 16px;
	padding: 10px;
}

@media only screen and (max-width : 800px){

h1{
	width: 300px;
	font-size: 40px;
	margin: 300px auto;
}


}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
	text-align: center;
    z-index: 2;

}

li {
    float: left;
}

footer{
	background: #4CAF50;
	height: 100px;
	margin-top: -16px;
}

.footer {
	text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 34px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
	animation: color-animation 0.5s linear;
	background-color: #4CAF50;
}
@keyframes color-animation {
    0% {
       background: #111;
    }
    100% {
       background: #4CAF50;
    }
 }
.text{
	width: 50%;
	margin: 0 25%;
	font-size: 16px;
    color: white ;
		font-family: 'Open Sans', sans-serif;
}

.text h4{
	margin-top: 40px;

}

/*bef, ene, kli, tek backgrunds bild */
#bef {
    background: url(bef.jpg) fixed no-repeat;
    background-size: cover;
    margin: 5% 0;
}

#ene {
    background: url(energi.jpg) fixed no-repeat;
    background-size: cover;
    margin-bottom: 5%;

}

#kli {
    background: url(kli.jpg) fixed no-repeat;
    background-size: cover;
    margin-bottom: 5%;
}

#tek {
    background: url(teknik.jpeg) fixed no-repeat;
    background-size: cover;
    margin-bottom: 5%;
}

/*
Frostat glas effekt box backom text.
Används av webbläser som är baserade på chrome.
*/
.frosted-glass {
    background: inherit;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 15% ;
    padding: 2rem;
    box-sizing: border-box;
    box-shadow: 0 .2em 1em rgba(0,0,0,.7);
    width: 70%;
    margin-bottom: -5%;
    margin-top: -5%;
}

/* Frostat glas  effekten */
.frosted-glass::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0; right: 0; bottom: 0; left: 0;
    background: inherit;
    box-shadow: inset 0 0 3% rgba(255,255,255,.3);
    filter: blur(30px);
    margin: -20px;
}

/*
Svart box backom text.
Används när webbläsaren inte är baserad på chrome.
*/
.blackBG {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 15% ;
    padding: 2rem;
    box-sizing: border-box;
    box-shadow: 0 .5em .5em rgba(0,0,0,.7);
    width: 70%;
    margin-bottom: -5%;
    margin-top: -5%;
    background-color: #111;
}
