body{
	margin: 0;
	padding 0;
}

#start {
	background: url("bildBak.jpg") no-repeat center center fixed;
 background-size: cover;

	width: 100% ;
  height: 100%;
	margin: 0;


}

#sida2 {
	height: 100%;
	width: 100%;
	background: #795548;

}

#sida3 {
	height: 100%;
	width: 100%;
	background: #92979b;

}

a {
	color: white;
	opacity: 0.4;
	text-decoration: none;
}

.active {
	color: red;
}

a:hover {
	background: black;
	opacity: 1;
}

#links {
position: fixed;
width: 100%;
top: 0;
}

h2 {
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	text-align: center;
}

h1 {
	background: black;
	font-family: 'Roboto', sans-serif;
	width: 750px;
	height: 100px;
	color: white;
	margin: 22% auto;
	font-size: 80px;
	text-align: center;
	border: 2px solid white;
}

@media only screen and (max-width : 800px){

h1{
	width: 300px;
	font-size: 40px;
	margin: 300px auto;
}

}
